In [5]:
# import dependencies
%matplotlib inline
import matplotlib.pyplot as plt
import pandas as pd
from sklearn.neighbors import KNeighborsClassifier
import numpy as np
from sklearn.svm import SVC

In [6]:
# read in file, view
df = pd.read_csv("Merged_V3.csv")
df.head()

   Unnamed: 0  Total Population  ZIP Code  Median Income  Has?
0           0              1072      1001          31603     0
1           1              2673      1002          14855     0
2           2              1528      1003           3973     0
3           3               310      1005          33312     0
4           4               821      1007          40089     0

In [17]:
# drop non-features, view
df2 = df.drop("ZIP Code", axis=1)
df2 = df2.drop("Has?", axis=1)
df2.head()

   Unnamed: 0  Total Population  Median Income
0           0              1072          31603
1           1              2673          14855
2           2              1528           3973
3           3               310          33312
4           4               821          40089

In [15]:
df2 =df2.rename(index=str, columns={"Total Population":"Total_Population", "Median Income":"Median_Income"})

In [18]:
# Create feature matrix
X = df2.Total_Population

# Create target vector
y = df2.Labels

# Remove first 40 observations
X = X[40:] #X[40:,:] if more than one feature
y = y[40:]

# Create binary target vector indicating if class 0
y = np.where((y == 0), 0, 1)

# Look at the imbalanced target vector
y[:200]

AttributeError: 'DataFrame' object has no attribute 'Total_Population'

In [13]:
# Indicies of each class' observations
i_class0 = np.where(y == 0)[0]
i_class1 = np.where(y == 1)[0]

# Number of observations in each class
n_class0 = len(i_class0)
n_class1 = len(i_class1)

# For every observation of class 1, randomly sample from class 0 without replacement
i_class0_downsampled = np.random.choice(i_class0, size=n_class1, replace=False)

# Join together class 1's target vector with the downsampled class 0's target vector
NewVector = np.hstack((y[i_class1], y[i_class0_downsampled]))

In [14]:
vector1 = pd.DataFrame(i_class1)
vector1 = vector1.rename(columns={ vector1.columns[0]: "Total_Population" })
vector1['class'] = 1
vector1.head()

   Total_Population  class
0               102      1
1               106      1
2               113      1
3               118      1
4               146      1

In [15]:
vector0 = pd.DataFrame(i_class0_downsampled)
vector0 = vector0.rename(columns={ vector0.columns[0]: "Total_Population" })
vector0['class'] = 0
vector0.head()

   Total_Population  class
0             17244      0
1             32495      0
2             17111      0
3             22686      0
4             19467      0

In [16]:
df_downsample = pd.concat([vector1, vector0])
df_downsample

      Total_Population  class
0                  102      1
1                  106      1
2                  113      1
3                  118      1
4                  146      1
5                  279      1
6                  290      1
7                  306      1
8                  312      1
9                  322      1
10                 325      1
11                 326      1
12                 333      1
13                 334      1
14                 337      1
15                 340      1
16                 348      1
17                 349      1
18                 355      1
19                 358      1
20                 362      1
21                 369      1
22                 370      1
23                 373      1
24                 388      1
25                 399      1
26                 403      1
27                 404      1
28                 407      1
29                 414      1
...                ...    ...
2137              5340      0
2138               508      0
2139              3444      0
2140              8314      0
2141             17104      0
2142             19092      0
2143             27162      0
2144              4216      0
2145              5769      0
2146             32779      0
2147             11127      0
2148             32591      0
2149             28420      0
2150             18995      0
2151             19390      0
2152             17039      0
2153             21409      0
2154             15032      0
2155             11060      0
2156             19141      0
2157              8617      0
2158             30676      0
2159             29521      0
2160              9487      0
2161             18433      0
2162             23892      0
2163              4824      0
2164             30061      0
2165             23430      0
2166              1201      0

[4334 rows x 2 columns]

In [17]:
# Assign X (data) and y (target)
X = df_downsample.drop("class", axis=1)
y = df_downsample["class"]
print(X.shape, y.shape)

(4334, 1) (4334,)

In [18]:
# split data
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42)

In [21]:
# Support vector machine linear classifier
model = SVC(kernel='linear')
model.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto_deprecated',
  kernel='linear', max_iter=-1, probability=False, random_state=None,
  shrinking=True, tol=0.001, verbose=False)

In [22]:
# Model Accuracy
print('Test Acc: %.3f' % model.score(X_test, y_test))

Test Acc: 0.489

In [23]:
# Calculate classification report
from sklearn.metrics import classification_report
predictions = model.predict(X_test)
print(classification_report(y_test, predictions))

              precision    recall  f1-score   support

           0       0.43      0.18      0.25       525
           1       0.50      0.78      0.61       559

   micro avg       0.49      0.49      0.49      1084
   macro avg       0.47      0.48      0.43      1084
weighted avg       0.47      0.49      0.44      1084

In [24]:
# DF with non-CMG locations
Non_CMG_Zips = df[df.Labels != 1]
Non_CMG_Zips2 = Non_CMG_Zips.drop("Count", axis=1)
Non_CMG_Zips3 = Non_CMG_Zips2.drop("Zip_Code", axis=1)
X2 = Non_CMG_Zips3.drop("Labels", axis=1)
X2.head()

   Total_Population
0             17599
1             39209
2             50135
3              6304
4             27590

In [28]:
predictions2 = model.predict(X2)
A = pd.DataFrame(predictions2)
A.sum()

0    9796
dtype: int64

In [29]:
Non_CMG_Zips2["Prediction"] = predictions2
Non_CMG_Zips2

       Labels  Zip_Code  Total_Population  Prediction
0           0       601             17599           1
1           0       602             39209           1
2           0       603             50135           1
3           0       606              6304           0
4           0       610             27590           1
5           0       612             62566           1
6           0       616             10687           1
7           0       617             24508           1
8           0       622              7405           1
9           0       623             42321           1
10          0       624             23238           1
11          0       627             32936           1
12          0       631              1555           0
13          0       637             23610           1
14          0       638             17202           1
15          0       641             28332           1
16          0       646             38008           1
17          0       647              5610           0
18          0       650             14664           1
19          0       652              3681           0
20          0       653             11717           1
21          0       656             19546           1
22          0       659             40978           1
23          0       660             16474           1
24          0       662             41341           1
25          0       664             15396           1
26          0       667             24089           1
27          0       669             26510           1
28          0       670              8797           1
29          0       674             40826           1
...       ...       ...               ...         ...
33090       0     99786               299           0
33091       0     99788               119           0
33092       0     99789               395           0
33093       0     99790                 7           0
33094       0     99791               172           0
33095       0     99801             30179           1
33096       0     99820               540           0
33097       0     99824              2255           0
33098       0     99825                89           0
33099       0     99826               386           0
33100       0     99827              2599           0
33101       0     99829               828           0
33102       0     99830               635           0
33103       0     99832                94           0
33104       0     99833              3275           0
33105       0     99835              8810           1
33106       0     99836                60           0
33107       0     99840              1038           0
33108       0     99841               147           0
33109       0     99901             13768           1
33110       0     99903                20           0
33111       0     99918               174           0
33112       0     99919               660           0
33113       0     99921              1971           0
33114       0     99922               306           0
33115       0     99923                 0           0
33116       0     99925               901           0
33117       0     99926              1684           0
33118       0     99927                59           0
33119       0     99929              2455           0

[30953 rows x 4 columns]